[submodule "addy64/miryoku"]
	path = addy64/miryoku
	url = https://github.com/manna-harbour/miryoku_zmk.git
[submodule "miryoku_babel"]
	path = miryoku_babel
	url = https://github.com/manna-harbour/miryoku_babel
[submodule "miryoku_zmk"]
	path = miryoku_zmk
	url = https://github.com/manna-harbour/miryoku_zmk.git
[submodule "miryoku_kmk"]
	path = miryoku_kmk
	url = https://github.com/manna-harbour/miryoku_kmk.git
