# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT


if SHIELD_MYKLOR_LEFT

config ZMK_KEYBOARD_NAME
    default "mukyria"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif

endif

if SHIELD_MYKLOR_LEFT || SHIELD_MYKLOR_RIGHT

config ZMK_SPLIT
    default y

endif
