# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_MYKLOR_LEFT
    def_bool $(shields_list_contains,MYKLOR_left)

config SHIELD_MYKLOR_RIGHT
    def_bool $(shields_list_contains,MYKLOR_right)
